# Bluetooth executables and script (bdAddrLoader, init.mako.bt.sh)
type bluetooth_loader, domain;
type bluetooth_loader_exec, exec_type, file_type;

# Run init.mako.bt.sh
domain_auto_trans(init_shell, bluetooth_loader_exec, bluetooth_loader)
allow bluetooth_loader init_shell:fd use;
allow bluetooth_loader init_shell:fifo_file { getattr write };

# Run hci_qcomm_init
domain_auto_trans(init_shell, hci_attach_exec, hci_attach)

# hci_qcomm_init started with logwrapper
allow hci_attach init_shell:fd use;
allow hci_attach devpts:chr_file rw_file_perms;

# Start bdAddrLoader from init
init_daemon_domain(bluetooth_loader)

# Read mac address from persist partition
allow bluetooth_loader persist_file:dir search;
r_dir_file(bluetooth_loader, persist_bluetooth_file)

# Talk to init over the property socket
unix_socket_connect(bluetooth_loader, property, init)

# Shared memory node access
allow hci_attach bluetooth_device:chr_file rw_file_perms;

# Allow getprop/setprop for init.mako.bt.sh
allow bluetooth_loader system_file:file execute_no_trans;

# Allow bdAddrLoader to set bluetooth property value
allow bluetooth_loader system_prop:property_service set;
