# Bridge Manager (radio process)
type bridge, domain;
type bridge_exec, exec_type, file_type;

# Started by init
init_daemon_domain(bridge)

allow bridge self:netlink_kobject_uevent_socket { create bind read };

# Allow logging diagnostic items
allow bridge diagnostic_device:chr_file rw_file_perms;

# Talk to qmuxd
qmux_socket(bridge)

# XXX Label sysfs files with a specific type?
allow bridge sysfs:file { open write read getattr };
