# Qualcomm MSM camera
type camera, domain;
type camera_exec, exec_type, file_type;

# Started by init
init_daemon_domain(camera)

allow camera { video_device camera_device }:chr_file rw_file_perms;

file_type_auto_trans(camera, system_data_file, camera_data_file);

# Create /data/cam_socket* and /data/fdAlbum
# XXX can we distinguish between the socket and the file?
allow camera camera_data_file:dir { write add_name };
allow camera camera_data_file:file { write open create };
# Create /data/app/sensor_ctl_socket
allow camera sensors_data_file:sock_file write;
dontaudit camera system_data_file:dir remove_name;
dontaudit camera system_data_file:sock_file unlink;

allow camera { surfaceflinger mediaserver }:fd use;

allow camera sensors:unix_stream_socket connectto;
