# wifi connection service
type conn_init, domain;
type conn_init_exec, exec_type, file_type;

# Started by logwrapper in init
domain_auto_trans(init, conn_init_exec, conn_init)

permissive conn_init;
unconfined_domain(conn_init)
