# wifi connection service
type conn_init, domain;
type conn_init_exec, exec_type, file_type;

# Started by logwrapper in init
domain_auto_trans(init, conn_init_exec, conn_init)

allow conn_init devpts:chr_file { read write };

# Allow /persist/wifi access
allow conn_init { persist_file persist_wifi_file }:dir search;
allow conn_init persist_wifi_file:file r_file_perms;

# Allow /data/misc/wifi access for firmware files
allow conn_init wifi_data_file:dir w_dir_perms;
allow conn_init wifi_data_file:file create_file_perms;
