# GPU (used by most UI apps)
type gpu_device, dev_type;

# Qualcomm Secure Execution Environment Communicator (QSEECOM) device
type qseecom_device, dev_type;

type diag_device, dev_type;
