# Qualcomm MSM Interface (QMI) socket
type qmuxd_socket, file_type;

type mpdecision_socket, file_type;

type audio_firmware_file, file_type;

# Default type for anything under /firmware
type radio_efs_file, fs_type;
