# Default type for anything under /firmware
type firmware_file, fs_type, contextmount_type;

type qmuxd_socket, file_type;
type sensors_socket, file_type;
type camera_socket, file_type;
type thermald_socket, file_type;

type diag_logs, file_type, data_file_type, mlstrustedobject;
type sensors_data_file, file_type, data_file_type;
type time_data_file, file_type, data_file_type;
type ramdump_data_file, file_type, data_file_type;

type kickstart_data_file, file_type, data_file_type;

type mpdecision_socket, file_type;

# Default type for anything under /firmware
type radio_efs_file, fs_type, contextmount_type;

# Persist firmware types
type persist_file, file_type;
type persist_bluetooth_file, file_type;
type persist_camera_file, file_type;
type persist_data_file, file_type;
type persist_drm_file, file_type;
type persist_sensors_file, file_type;
type persist_wifi_file, file_type;

type sysfs_rmnet, fs_type, sysfs_type;
type sysfs_mpdecision, fs_type, sysfs_type;
type sysfs_surfaceflinger, fs_type, sysfs_type;
type sysfs_smdcntl_open_timeout, fs_type, sysfs_type;
type sysfs_hardware, fs_type, sysfs_type;

type wcnss_ctrl, dev_type;
