# Qualcomm MSM Interface (QMI) socket
type qmuxd_socket, file_type;
type sensors_socket, file_type;
type camera_socket, file_type;

type sensors_data_file, file_type, data_file_type;

type kickstart_data_file, file_type, data_file_type;

type mpdecision_socket, file_type;

# Default type for anything under /firmware
type radio_efs_file, fs_type, contextmount_type;

# Persist firmware types
type persist_file, file_type;
type persist_bluetooth_file, file_type;
type persist_drm_file, file_type;
type persist_sensors_file, file_type;
type persist_wifi_file, file_type;

type sysfs_rmnet, fs_type, sysfs_type;
type sysfs_mpdecision, fs_type, sysfs_type;
type sysfs_hardware, fs_type, sysfs_type;

type wcnss_ctrl, dev_type;
