allow mediaserver audio_data_file:dir w_dir_perms;
allow mediaserver audio_data_file:file create_file_perms;
allow mediaserver camera_data_file:sock_file w_file_perms;

qmux_socket(mediaserver)

unix_socket_send(mediaserver, camera, camera)

allow mediaserver self:socket create;

# Allow logging diagnostic items
allow mediaserver diagnostic_device:chr_file rw_file_perms;
