# Qualcomm Management Interface Multiplexer
type qmux, domain, domain_deprecated;
type qmux_exec, exec_type, file_type;

# Started by init
init_daemon_domain(qmux)

# Create sockets under each /dev/socket/qmux_* directory.
allow qmux qmuxd_socket:dir w_dir_perms;
allow qmux qmuxd_socket:sock_file { create setattr getattr unlink };

# /dev/hsicctl* node access
allow qmux radio_device:chr_file rw_file_perms;

# wake lock access
wakelock_use(qmux)

# Access to /sys/devices/virtual/smdpkt/smdcntl*/open_timeout
allow qmux sysfs_smdcntl_open_timeout:file rw_file_perms;
