# Qualcomm Management Interface Multiplexer
type qmux, domain;
type qmux_exec, exec_type, file_type;

# Started by init
init_daemon_domain(qmux)

permissive qmux;

# Create sockets under each /dev/socket/qmux_* directory.
allow qmux qmuxd_socket:dir w_dir_perms;
allow qmux qmuxd_socket:sock_file { create setattr getattr unlink };

# /dev/hsicctl* node access
allow qmux radio_device:chr_file rw_file_perms;

# Allow logging diagnostic items
allow qmux diag_device:chr_file rw_file_perms;

# wake lock access
allow qmux sysfs_wake_lock:file { open append };
