# remote storage process
type rmt, domain;
type rmt_exec, exec_type, file_type;

# Started by init
init_daemon_domain(rmt)

unconfined_domain(rmt)

# Otherwise will overflow logs
dontaudit rmt kmem_device:chr_file rw_file_perms;
