allow system { mpdecision sensors qmux }:unix_stream_socket { connectto sendto };
allow system { init mpdecision }:unix_dgram_socket sendto;
# XXX how and why?
allow system diagnostic_device:chr_file rw_file_perms;
allow system rild_socket:sock_file { create setattr write };
allow system rild_socket:dir w_dir_perms;
# XXX how and why
allow system sysfs:file { read open write };
allow system mpdecision_socket:sock_file write;
allow system mpdecision_socket:dir search;
allow system wpa_socket:unix_dgram_socket sendto;
